<div class="col-md-6">
	<div class="blog-entry animate-box">
		<div class="blog-img" style="background-image: url(https://images.unsplash.com/photo-1551028719-00167b16eac5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80);">
			<div class="desc text-center">
				<p class="tag"><span>Nature</span></p>
				<h2 class="head-article"><a href="single.html">Gym Fitness</a></h2>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
			</div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="row">
		<div class="col-md-6">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1546367260-0d4ec8a3e349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>auto</span></p>
						<h2 class="head-article"><a href="single.html">BMW i8</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1549393243-8d04905bec8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>Sports</span></p>
						<h2 class="head-article"><a href="single.html">Boxing Sports</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1441984344779-4716bd9e6b04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=821&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>Place</span></p>
						<h2 class="head-article"><a href="single.html">Nature</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="col-md-7">
	<div class="row">
		<div class="col-md-12">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1526947425960-945c6e72858f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>Place</span></p>
						<h2 class="head-article"><a href="single.html">Nature</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1519735777090-ec97162dc266?ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>Place</span></p>
						<h2 class="head-article"><a href="single.html">Nature</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-5">
	<div class="blog-entry animate-box">
		<div class="blog-img" style="background-image: url(https://images.unsplash.com/photo-1523532855831-190c384cb39a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);">
			<div class="desc text-center">
				<p class="tag"><span>Sports</span></p>
				<h2 class="head-article"><a href="single.html">Boxing Sports</a></h2>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
			</div>
		</div>
	</div>
</div>


<div class="col-md-6">
	<div class="blog-entry animate-box">
		<div class="blog-img" style="background-image: url(https://images.unsplash.com/photo-1544006593-1a0b9255782d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=744&q=80);">
			<div class="desc text-center">
				<p class="tag"><span>Nature</span></p>
				<h2 class="head-article"><a href="single.html">Gym Fitness</a></h2>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
			</div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="row">
		<div class="col-md-6">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1506915925765-ed31516b9080?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>auto</span></p>
						<h2 class="head-article"><a href="single.html">BMW i8</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1547553641-a18afbab3c96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>Sports</span></p>
						<h2 class="head-article"><a href="single.html">Boxing Sports</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="blog-entry animate-box">
				<div class="blog-img blog-img2" style="background-image: url(https://images.unsplash.com/photo-1512303712963-792b49bff940?ixlib=rb-1.2.1&auto=format&fit=crop&w=621&q=80);">
					<div class="desc text-center">
						<p class="tag"><span>Place</span></p>
						<h2 class="head-article"><a href="single.html">Nature</a></h2>
						<p>Even the all-powerful Pointing has no control about</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>