<h1><%= @current_category.name %></h1>
<% @current_category.posts.each do |post| %>
  <strong><%= link_to post.title, category_post_path(@current_category, post) %></strong>
  <p><%= post.description %></p>
<% end %>
